In [ ]:
#Take the input from the user asking for the following

#a. Name
#b. Age
#c. DOB

#Convert these inputs to the appropriate data formats - eg : Name should be string. 

#Print the following 

#Name of the the user is -- . The Data type is -- 
#Age of the the user is -- . The Data type is -- 
#DOB of the the user is -- . The Data type is --

In [3]:
import math
import datetime
import random

In [45]:
#User can input the name
Name=str(input("Enter UserName :"))
#User can input the Age
Age=int(input("Enter User Age :"))
#User can input the DOB
DOB=str(input("Enter User DOB :"))

print("Name of the the user is ", Name, "The Data type is",type(Name))
      
print("Age of the the user is ", Age, "The Data type is",type(Age))

print("DOB of the the user is ", DOB, "The Data type is",type(DOB))

Enter UserNamestephy
Enter User Age33
Enter User DOB03031988
Name of the the user is  stephy The Data type is <class 'str'>
Age of the the user is  33 The Data type is <class 'int'>
DOB of the the user is  03031988 The Data type is <class 'str'>

In [ ]:
#2. List the differences between 
#a. list and tuple

List properties: ordered, iterable, mutable, can contain multiple data types
Tuple properties: ordered, iterable, immutable, can contain multiple data types
Like lists, but they don't change size
#b. Dictionary and set

Dictionary properties: unordered, iterable, mutable, can contain multiple data types
Made of key-value pairs
Keys must be unique, and can be strings, numbers, or tuples
Values can be any type

Sets value is not mutable

In [57]:
#Generate random numbers (integer)-> Generate 5 random integers 
def randnumber():
   num = [] 
   for i in range(5):
        number = random.randint(0,5)
        num.append(number)
        
        print(number)
        
#calculate the sum  of the above generate numbers 

   print(sum(num))
#Find the max of the number Find the min of the number

   print("The Smallest Element in this List is : ", min(num))
   print("The Largest Element in this List is : ", max(num))
   
randnumber()

1
5
3
1
4
14
The Smallest Element in this List is :  1
The Largest Element in this List is :  5

In [46]:
#Lists

fruits = ['apple', 'orange', 'grape']
fruits [-3]
fruits .insert(0,'lemon')
fruits 
fruits [0]
len(fruits)
fruits.extend(['apple', 'orange', 'apple'])
fruits
fruits.insert(0, 'cherry')
fruits

['cherry', 'lemon', 'apple', 'orange', 'grape', 'apple', 'orange', 'apple']

In [48]:
fruits.remove('lemon')
fruits

['apple', 'orange', 'grape', 'apple', 'orange', 'apple']

In [58]:
fruits.pop(0)

'apple'

In [59]:
# remove element 0 (does not return it)
del fruits[0]
fruits

['grape', 'apple', 'orange', 'apple']

In [60]:
# replace element 0
fruits[1:2] = ['kiwi','lemon']
fruits

['grape', 'kiwi', 'lemon', 'orange', 'apple']

In [61]:
# concatenate lists (slower than 'extend' method)
veggies = fruits + ['zucchini', 'carrot', 'onion']
veggies
veggies[1]=['sam','itchy']
veggies

['grape',
 ['sam', 'itchy'],
 'lemon',
 'orange',
 'apple',
 'zucchini',
 'carrot',
 'onion']

In [62]:
# counts the number of instances
fruits.count('itchy')

0

In [ ]:
# elements 0 (inclusive) to 3 (exclusive)
weekdays = ['mon', 'tues', 'wed', 'thurs', 'fri']
weekdays[0:3]
weekdays

In [64]:
fruits.sort()
fruits

['apple', 'grape', 'kiwi', 'lemon', 'orange']

In [65]:
# create a tuple directly
digits = (0, 1, 'two')
for i in digits:
    print(i)

0
1
two

In [66]:
# create a tuple from a list
digits = tuple([0, 1, 'two'])
digits[0:1]

(0,)

In [67]:
# returns the index of the first instance of that value

items = ['car','book','pen']
items[2]
items.index("pen")

2

In [68]:
# concatenate tuples
digits = (0, 1, 'two')
digits = digits + (3, 4)
digits

(0, 1, 'two', 3, 4)

In [69]:
# create an empty dictionary (two ways)
empty_dict = {}
empty_dict = dict()

In [70]:
# create a dictionary (two ways)
family = {'dad':'homer', 'mom':'marge', 'size':6}
family = dict(dad='homer', mom='marge', size=6)
family

{'dad': 'homer', 'mom': 'marge', 'size': 6}

In [71]:
set1 = {5,2,3,4,1,9,1}
print(set1)
#value is not mutable
set1
for i in set1:
    print(i)

{1, 2, 3, 4, 5, 9}
1
2
3
4
5
9

In [72]:
print(set1)

{1, 2, 3, 4, 5, 9}

In [82]:
#five built in functions in python for List
#absolute function
x=10
y=-1
z=4+2j
print(abs(x))
print(abs(y))
print(abs(z))

#all function, similar to "and" operator

dict={0:"lion", 1:"tiger"}#takes only the key and not the value
a=all(dict)
print(a)

tuple=(0,True, False)
print(all(tuple))

#any function , similar to "OR" operator
s={0,1,1,1,0,0}
b=any(s)
print(b)#atleast one is true

#bin function, returns binary value of the number
t=8
print(bin(t))

#round function,round off value of a number

print(round(4.5))

#List() function is used to convert an object into a list
l=["1","2","3","v","9ol"]
print(list(l))

10
1
4.47213595499958
False
False
True
0b1000
4
['1', '2', '3', 'v', '9ol']

In [91]:
#List the differences between in and is operator and use it in a. list 

fruits = ['apple', 'orange', 'grape']
print("orange" in fruits)

fruits = ['apple', 'orange', 'grape']
fruits1 = ['apple', 'orange', 'grape']
fruits2 = fruits
print(fruits is fruits2)

True
True

In [86]:
tuple = ('apple', 10, 'banana') 
print("apple" in tuple)

True

In [90]:
fruits = ('apple', 'orange', 'grape')
fruits1 = ('apple', 'orange', 'grape')
fruits2 = fruits
print(fruits is fruits2)

True

In [92]:
s={'apple', 'orange', 'grape'}
print("apple" in s)

True

In [93]:
fruits = {'apple', 'orange', 'grape'}
fruits1 = {'apple', 'orange', 'grape'}
fruits2 = fruits
print(fruits is fruits2)

True

In [94]:
family = {'dad':'homer', 'mom':'marge', 'size':6}
print("homer" in family)

False

In [95]:
family = {'dad':'homer', 'mom':'marge', 'size':6}
family1 = {'dad':'homer', 'mom':'marge', 'size':6}
family2=family
print(family is fruits2)

False